# CubeLite Studio does not download or redistribute Cube 3D model weights.
# Set these paths locally in the Streamlit Settings tab or use them in scripts.
CUBELITE_CUBE_REPO_PATH=
CUBELITE_MODEL_WEIGHTS_PATH=
